.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img.logo {
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }

  h2 {
    margin: 0;
  }
}

.ant-card.difference {
  // .ant-progress-status-normal {
  .ant-progress {
    .ant-progress-text {
      width: 4em;
    }
  }

  .ant-progress-outer {
    width: 200px;
  }
}

// Center vertically
.solved-message {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: relative;

  .ant-alert {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    right: 40px;

    .next-button {
      background-color: #52c41a;
      border-color: #52c41a;
    }
  }
}
