.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img.logo {
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }

  h2 {
    margin: 0;
  }
}

.ant-card.difference {
  // .ant-progress-status-normal {
  .ant-progress {
    .ant-progress-text {
      width: 4em;
    }
  }

  .ant-progress-outer {
    width: 200px;
  }
}
